
@media (max-width: 768px) {
    body.works_on_smartphone {
        display: block;
    }
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333; 
    margin: 0;
    padding: 0;
}
.logo {
    font-size: 40px;
    color: #751212;
    margin-right: 10px;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: column;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
